#Qdrant API Key and URL

QDRANT_API_KEY=your-key-here
QDRANT_URL=https://<your-qdrant-instance>.eu-central-1-0.aws.cloud.qdrant.io

# Mistral API Key and URL

MISTRAL_API_KEY=your-mistral-api-key-here
MISTRAL_URL=https://api.mistral.ai/v1/models/mistral-7b-instruct-v0.1

# Hugging Face SPACE API Key and URL

HUGGINGFACE_API_KEY=hf_XXXXXXXXXXXXXXXXXXXXXXXXXXXX
HUGGINGFACE_URL=https://api-inference.huggingface.co/models/your-model-name


