#QDRANT

QDRANT_API_KEY=your-qdrant-api-key-here
QDRANT_URL=https://your-qdrant-instance-url-here

# Mistral API
MISTRAL_API_KEY=your-mistral-api-key-here
MISTRAL_URL=https://api.mistral.ai/v1
MISTRAL_MODEL=mistral-small-latest

FASTAPI_PORT=8000
